<mat-card class="example-header-image">
  <mat-card-header>
    <mat-card-title
      >Registrar Productos: Andrés Steven Vigoyas Pájaro</mat-card-title
    >
  </mat-card-header>

  <mat-card-content>
    <form #formProduct="ngForm" (ngSubmit)="onRegistrarProductos()">
      <mat-tab-group>
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">add_box</mat-icon>
            Guardar Productos
          </ng-template>

          <div
            fxLayout="row wrap"
            fxLayout.lt-md="column"
            fxLayoutGap.gt-sm="15px"
          >
            <mat-form-field fxFlex appearance="outline">
              <mat-label>Código</mat-label>
              <input
                type="text"
                matInput
                name="codigo"
                id="codigo"
                [(ngModel)]="productos.codigo"
                #codigo="ngModel"
                required
                ngModel
                pattern="[A-Za-z0-9]{4,10}"
              />
              <mat-hint
                *ngIf="codigo.invalid && (codigo.dirty || codigo.touched)"
                >El código es obligatorio o formato incorrecto
              </mat-hint>
            </mat-form-field>

            <mat-form-field fxFlex appearance="outline">
              <mat-label>Nombre</mat-label>
              <input
                type="text"
                matInput
                name="nombre1"
                id="nombre1"
                [(ngModel)]="productos.nombre"
                ngModel
                pattern="[A-Za-z0-9]{4,45}"
              />
            </mat-form-field>

            <mat-form-field fxFlex appearance="outline">
              <mat-label>Descripción</mat-label>
              <input
                type="text"
                matInput
                name="descripcion"
                id="descripcion"
                [(ngModel)]="productos.descripcion"
                #descripcion="ngModel"
                required
              />
              <mat-hint
                *ngIf="
                  descripcion.invalid &&
                  (descripcion.dirty || descripcion.touched)
                "
                >La descripcion es obligatorio
              </mat-hint>
            </mat-form-field>
          </div>

          <div
            fxLayout="row wrap"
            fxLayout.lt-md="column"
            fxLayoutGap.gt-sm="15px"
          >
            <mat-form-field fxFlex appearance="outline">
              <mat-label>Marca</mat-label>
              <input
                type="text"
                matInput
                name="marca"
                id="marca"
                [(ngModel)]="productos.marca"
              />
            </mat-form-field>
            <mat-form-field fxFlex appearance="outline">
              <mat-label>Precio</mat-label>
              <input
                type="number"
                matInput
                name="precio"
                id="precio"
                [(ngModel)]="productos.precio"
              />
            </mat-form-field>

            <mat-form-field fxFlex appearance="outline">
              <mat-label *ngIf="flag === true">Nueva Categoria</mat-label>
              <mat-label *ngIf="flag === false">Categoria</mat-label>

              <mat-select
                name="categoria"
                id="categorias"
                [(ngModel)]="productos.categoria"
              >
                <mat-option *ngFor="let cat of categorias" [value]="cat">
                  {{ cat.nombre }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field fxFlex appearance="outline" *ngIf="flag === true">
              <mat-label>Categoria Actual</mat-label>
              <input
                type="text"
                matInput
                name="nombreCategoria"
                id="nombreCategoria"
                [(ngModel)]="categoriaInformativa"
                disabled
              />
            </mat-form-field>
          </div>

          <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon" (click)="getProductos()"
              >format_align_justify</mat-icon
            >
            Listado de Productos
          </ng-template>

          <div
            fxLayout="row wrap"
            fxLayout.lt-md="column"
            fxLayoutGap.gt-sm="15px"
          >
            <mat-form-field fxFlex="40" appearance="outline">
              <input
                matInput
                (keyup)="applyFilter($event.target.value)"
                placeholder="Buscar Productos"
              />
            </mat-form-field>
            <button
              type="button"
              mat-icon-button
              color="primary"
              (click)="imprimir()"
            ></button>
          </div>
          <div
            fxLayout="row wrap"
            fxLayout.lt-md="column"
            fxLayoutGap.gt-sm="15px"
          >
            <mat-paginator
              [pageSizeOptions]="[5, 10, 20]"
              showFirstLastButtons
            ></mat-paginator>
          </div>
          <div
            fxLayout="row wrap"
            fxLayout.lt-md="column"
            fxLayoutGap.gt-sm="15px"
          >
            <table mat-table [dataSource]="dataSource" class="table-100">
              <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

              <!-- Position Column -->
              <ng-container matColumnDef="codigo">
                <th mat-header-cell *matHeaderCellDef>Código.</th>
                <td mat-cell *matCellDef="let element">{{ element.codigo }}</td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef>Nombre</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.nombreP }}
                </td>
              </ng-container>

              <!-- Weight Column -->
              <ng-container matColumnDef="descripcion">
                <th mat-header-cell *matHeaderCellDef>descripcion</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.descripcion }}
                </td>
              </ng-container>

              <!-- Symbol Column -->
              <ng-container matColumnDef="categoria">
                <th mat-header-cell *matHeaderCellDef>categoria</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.nombreC }}
                </td>
              </ng-container>

              <ng-container matColumnDef="marca">
                <th mat-header-cell *matHeaderCellDef>marca</th>
                <td mat-cell *matCellDef="let element">{{ element.marca }}</td>
              </ng-container>

              <ng-container matColumnDef="precio">
                <th mat-header-cell *matHeaderCellDef>precio</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.precio || current }}
                </td>
              </ng-container>

              <ng-container matColumnDef="editar">
                <th mat-header-cell *matHeaderCellDef>Seleccionar</th>
                <td mat-cell *matCellDef="let element">
                  <button
                    type="button"
                    mat-icon-button
                    color="primary"
                    (click)="
                      productos = element;
                      categoriaInformativa = element.nombreC;
                      activar_boton(element.id);
                      imprimirSeleccionado(element)
                    "
                  >
                    <mat-icon> check </mat-icon>
                  </button>
                </td>
              </ng-container>

              <ng-container matColumnDef="eliminar">
                <th mat-header-cell *matHeaderCellDef>Eliminar</th>
                <td mat-cell *matCellDef="let element">
                  <button
                    type="button"
                    mat-icon-button
                    color="primary"
                    (click)="deleteProductos(element.id)"
                  >
                    <mat-icon> delete</mat-icon>
                  </button>
                </td>
              </ng-container>
              <ng-container matColumnDef="categorias">
                <th mat-header-cell *matHeaderCellDef>Ver Categorias</th>
                <td mat-cell *matCellDef="let element">
                  <button
                    type="button"
                    mat-icon-button
                    color="primary"
                    (click)="showCategoriasProductos(element.categoria)"
                  >
                    <mat-icon> search</mat-icon>
                  </button>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>

            <!-- <table class="table-responsive">
              <thead>
                <tr>
                  <th scope="col">Categorias</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let v of categoriasDeProductos">
                  <td scope="row">{{ v.nombre }}</td>
                  <td scope="row">
                    <button
                      type="button"
                      mat-icon-button
                      color="primary"
                      (click)="
                        categoriaInformativa = v.nombre;
                        flag = true;
                        productos.categoria = v.id
                      "
                    >
                      <mat-icon> check</mat-icon>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table> -->
          </div>
        </mat-tab>

        <mat-tab> </mat-tab>
      </mat-tab-group>

      <div>
        <button
          type="submit"
          mat-raised-button
          color="primary"
          [disabled]="!formProduct.form.valid"
          (click)="guardarProductos()"
        >
          Guardar
        </button>

        <button
          style="margin-left: 30px;"
          *ngIf="flag === true"
          type="submit"
          mat-raised-button
          color="primary"
          [disabled]="!formProduct.form.valid"
          (click)="editProductos(); flag = false"
        >
          Editar
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
